# Analyze files content

In [15]:
import json
import lzma

import pandas as pd

In [26]:
def read_file(file_path, is_veiculos):
    if is_veiculos:
        with lzma.open(file_path, mode='rt') as f:
            file_data = filter(lambda x: x != '\n', f.readlines())

            data = []
            for line in file_data:
                data.append(json.loads(line))

            df = pd.DataFrame(data)
    else:
        df = pd.read_json(file_path, compression='xz')

    return df

## Check bus_lines included in the file

In [33]:
file_path = '../tmp/2019_05_09_veiculos.json.xz'
is_veiculos = True

df = read_file(file_path, is_veiculos)
df.head()

    VEIC         LAT         LON                 DTHR COD_LINHA
0  MC302  -25.413048  -49.317175  08/05/2019 08:04:30       901
1  MC302  -25.413156  -49.316796  08/05/2019 08:04:26       901
2  MC302  -25.413168  -49.316445  08/05/2019 08:04:22       901
3  MC302  -25.413151  -49.316301  08/05/2019 08:04:20       901
4  MC302  -25.413091  -49.316013  08/05/2019 08:04:05       901

In [34]:
df.groupby('COD_LINHA').count()

            VEIC    LAT    LON   DTHR
COD_LINHA
010         5871   5871   5871   5871
011          798    798    798    798
021         3615   3615   3615   3615
022         1721   1721   1721   1721
023         4570   4570   4570   4570
150        12045  12045  12045  12045
225         1864   1864   1864   1864
232         6538   6538   6538   6538
307        10930  10930  10930  10930
341         5781   5781   5781   5781
342         6341   6341   6341   6341
365         5140   5140   5140   5140
372         3731   3731   3731   3731
464         3855   3855   3855   3855
811        14260  14260  14260  14260
812        12010  12010  12010  12010
815         1525   1525   1525   1525
816        15836  15836  15836  15836
822        13042  13042  13042  13042
827         8567   8567   8567   8567
829         9636   9636   9636   9636
901        12324  12324  12324  12324
902         4228   4228   4228   4228
911         6321   6321   6321   6321
912         6422   6422   6422   6422
913         8703   8703   8703   8703
915         5811   5811   5811   5811
916        12891  12891  12891  12891
918         7469   7469   7469   7469
924         4056   4056   4056   4056
965        21178  21178  21178  21178
967        13419  13419  13419  13419
979         7524   7524   7524   7524
989         1780   1780   1780   1780
995          702    702    702    702
996         1217   1217   1217   1217
997         1190   1190   1190   1190