# Statistical Analysis

In [1]:
import psycopg2
import pandas as pd

from sqlalchemy import create_engine

In [6]:
sql_engine = create_engine('postgresql+psycopg2://postgres:879254@localhost:5432/postgres', pool_recycle=3600);
db_connection = sql_engine.connect()

with open('matches_vs_real_union.sql', 'r') as f:
    df = pd.read_sql(f.read(), db_connection)

## Rows distribution

In [19]:
df.groupby('file_date').count()

,bus_line_id,bus_line_name,vehicle_id,time,programmed_timestamp,schedule_id,bus_stop_id,lag,dif_lag,lead,dif_lead,left_bound,right_bound,bus_arrival_time,bus_delay,bus_delay_minutes
file_date,,,,,,,,,,,,,,,,
2019-05-02,907,907,907,907,907,907,907,781,781,777,777,907,907,798,798,798
2019-05-06,929,929,929,929,929,929,929,819,819,816,816,929,929,800,800,800
2019-05-13,984,984,984,984,984,984,984,855,855,847,847,984,984,849,849,849

## Statistics

In [26]:
# General statistics
df.describe()['bus_delay_minutes']

count    2447.000000
mean        3.700145
std        81.984226
min      -101.919008
25%        -5.250283
50%        -0.968257
75%         2.484649
max      1323.548495
Name: bus_delay_minutes, dtype: float64

In [25]:
# Statistics by file_date and bus_line
df.groupby(['bus_line_id', 'file_date']).describe()['bus_delay_minutes']

                        count      mean         std         min        25%  \
bus_line_id file_date
020         2019-05-02  233.0  5.140669   16.852043 -101.919008  -3.127317
            2019-05-06  158.0 -1.018630    9.765664   -9.489817  -3.808403
            2019-05-13  220.0 -0.928108   11.268143  -10.867972  -4.160891
203         2019-05-02  565.0  8.262579  117.811316  -82.880549 -27.281322
            2019-05-06  642.0 -2.035447   29.558457  -81.959958 -23.608463
            2019-05-13  629.0  7.726562  112.102337  -80.277034 -25.869346

                             50%       75%          max
bus_line_id file_date
020         2019-05-02 -0.363022  7.729353   113.872678
            2019-05-06 -1.990685  0.033289   111.762597
            2019-05-13 -2.318320  0.011756   113.706135
203         2019-05-02 -1.096320  1.713903  1323.548495
            2019-05-06 -0.109808  5.322353    84.111356
            2019-05-13 -0.759204  2.837782  1323.511231